# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#andra saker
Lilla spelprojektet/Code/*.sdf
*.opensdf
Lilla spelprojektet/Code/*.suo
*.exe
*.ilk
*.pdb
/Lilla spelprojektet/Code/*.vcxproj
/Lilla spelprojektet/Code/*.vcxproj.filters

# Mappar
Lilla spelprojektet/Obj/**/
Lilla spelprojektet/Code/ipch/
Lilla spelprojektet/bin/x64/
Lilla spelprojektet/bin/x86/