# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#andra saker
*.sdf
*.opensdf
*.suo
*.exe
*.ilk
*.pdb
*.vcxproj
*.vcxproj.filters

# Mappar
Lilla spelprojektet/Obj/**/
Lilla spelprojektet/Code/ipch/
Lilla spelprojektet/bin/x64/
Lilla spelprojektet/bin/x86/